#categorys{
    margin-top: 70px;
}

.line{
    width: 40px;
    margin: auto;
    height: 5px;
    background-color: gold;
    border: none;
    border-radius: 20px;
}

.sub-title{
    text-align: center;
    margin-top: 15px;
    font-size: 28px;
}

.content-categorys{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: auto;
    width: 60%;
    margin-top: 40px;
    gap: 30px;
}

.category{
    margin: auto;
    width: 450px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
}

.category1{
    background-image: url('../../../public/assets/images/category_1.webp');
}

.category2{
    background-image: url('../../../public/assets/images/category_2.jpg');
}

.category3{
    background-image: url('../../../public/assets/images/category_3.webp');
}

.category4{
    background-image: url('../../../public/assets/images/category_4.jpg');
}

.overlay-cat{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.overlay-cat:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.overlay-cat:hover p{
    font-size: 35px;
}

.category p{
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}