.header{
    width: 100%;
    position: fixed;
    z-index: 9999;
    transition: 0.3s;
}

.headerInit{
    color: white;
}

.headerChange{
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    transition: 0.3s;
}

.logo{
    color: white;
}

.logoChange{
    color: gold;
}

.container{
    margin: auto;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu ul li{
    margin-left: 35px;
    font-size: 17px;
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: white;
    transition: 0.2;
}

.link:hover{
    color: gold;
}

.link-change:hover{
    color: gold;
}

.link-change{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.cart-icon{
    color: gold;
    cursor: pointer;
}

.cart-icon span{
    float: right;
    margin-left: 5px;
    background-color: black;
    font-size: 12px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12.5px;
    margin-bottom: 10px;
}

.none{
    display: none;
}